<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TrainCrew{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/base.css' %}">

</head>
<body style="background: url('{% static 'app/images/winter-bg.jpg' %}') no-repeat center center fixed; background-size: cover; min-height: 100vh; width: 100%; color: white;">
<header>
    <div class="logo">
        <img src="{% static 'app/images/christmas_toy.png' %}" alt="Avatar"
             style="width: 15px; height: 22px; object-fit: cover; margin-bottom: 20px;">
        <a href="{% url 'home_page' %}">TrainCrew</a>

    </div>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'create_post' %}">+</a>
            <a href="{% url 'map' %}">Map</a>
            <a href="{% url 'chat_list'  %}">Chat</a>
            <a href="{% url 'user_search' %}">🔍︎</a>

        {% endif %}

    </nav>

    <div class="avatar-dropdown">
    <button class="avatar-btn">
         {% if profile.avatar %}
     <a><img src="{{ profile.avatar.url }}" alt="Avatar" style="width: 30px; height: 30px; object-fit:cover;border-radius:50%; solid white; padding: 0px 10px;"></a>
    {% else %}
     <a><img src="{% static 'app/images/default-avatar.jpg' %}" alt="Avatar" style="width: 30px; height: 30px; object-fit:cover;border-radius:50%;  solid white; padding: 0фpx 10px; "></a>
    {% endif %}
    </button>

    <div class="avatar-menu">
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'home_page' %}">Settings</a>
    </div>
</div>






</header>

<main>
    {% block content %}{% endblock %}
</main>
<script>
const numFlakes = 10;
window.addEventListener('DOMContentLoaded', () => {
    for (let i = 0; i < numFlakes; i++) {
        const flake = document.createElement('div');
        flake.classList.add('snowflake');
        flake.style.left = Math.random() * window.innerWidth + 'px';
        flake.style.animationDuration = 3 + Math.random() * 5 + 's';
        flake.style.fontSize = 10 + Math.random() * 20 + 'px';
        flake.innerText = '❄';
        document.body.appendChild(flake);
    }
});
</script>
</body>
</html>
